* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0px;
  font: bold;
  color: white;
  background-color: rgb(37, 37, 37);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* main */
main {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  transition: 1s;
}
.main__section h2 {
  margin: 2% 0 2% 0;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(14, 143, 160);
  padding: 2% 0 2% 0;
}
.main__section .main__section-frase .frase__pele {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin-top: 2%;
  text-align: center;
}
.main__section .main__section-frase .lapelotanosemancha {
  display: none;
}
.main__section .main__section-frase .peledebutoconunpibe {
  display: flex;
  width: 100%;
  align-self: center;
  margin-top: 2%;
}

.main__section-fotos {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.main__section-media {
  display: grid;
  flex-direction: column;
}
.main__section-media img {
  display: flex;
  width: 100%;
  margin-top: 5%;
}

@media (min-width: 570px) {
  .main__section p {
    font-size: 1rem;
  }
  .main__section .main__section-media {
    display: flex;
    flex-direction: column;
  }
  .main__section .main__section-media img {
    display: flex;
    width: 100%;
    margin-top: 5%;
  }
  .main__section .main__section-frase {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  .main__section .main__section-frase .frase__pele {
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
    margin-top: 10%;
  }
  .main__section .main__section-frase .peledebutoconunpibe {
    display: flex;
    width: 37%;
    align-self: center;
    margin-top: 2%;
  }
  .main__section .main__section-frase .lapelotanosemancha {
    display: flex;
    width: 34%;
    align-self: center;
    margin-top: 2%;
  }
}
@media (min-width: 1000px) {
  .main__section {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    transition: 1s;
  }
  .main__section .main__section-frase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
    align-items: center;
  }
  .main__section .main__section-frase .frase__pele {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    text-align: center;
  }
  .main__section .main__section-frase .peledebutoconunpibe {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    object-fit: cover;
  }
  .main__section .main__section-frase .lapelotanosemancha {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    object-fit: cover;
  }
  .main__section .main__section-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__section .main__section-media p {
    font-size: 1rem;
    width: 80%;
    grid-column: span 2;
  }
  .main__section .main__section-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
  }
  .main__section .main__section-fotos {
    padding: 0%;
  }
}
/* header   */
.header__contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgb(66, 65, 65);
  background-image: linear-gradient(rgb(80, 79, 79) 0% 70%, rgb(37, 37, 37));
  align-items: center;
  justify-items: start;
  padding: 3% 0 3% 0;
}
.header__contenedor img {
  display: flex;
  width: 50%;
  justify-self: end;
}
.header__contenedor .header__h1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 0%;
}
.header__contenedor .diego {
  display: flex;
  color: rgb(10, 172, 194);
  font-size: 5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: bold;
  justify-content: center;
  text-align: center;
}
.header__contenedor .maradona {
  display: flex;
  color: rgb(253, 253, 253);
  font-size: 7.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: bold;
}
.header__contenedor ul {
  list-style: none;
  position: absolute;
  padding: 8.5vw;
  margin-left: 5.5vw;
}
.header__contenedor ul li {
  padding: 3.2%;
}
.header__contenedor ul li a {
  outline: none;
  text-decoration: none;
  transition: 0.4s;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: bolder;
  color: white;
}
.header__contenedor ul li a:hover {
  color: rgb(7, 248, 208);
  background-image: linear-gradient(to right, rgba(10, 173, 194, 0.322) 0% 70%, rgba(37, 37, 37, 0));
  transition: 1.8s;
}
.header__contenedor .header__nav {
  display: flex;
  width: 100%;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  text-align: center;
  padding: 10px 0px;
  z-index: 100;
  transition: 0;
}
.header__contenedor .header__nav .show-nav {
  order: 1;
  display: block;
  color: white;
  font-size: 5vw;
  cursor: pointer;
  transition: 0.4s;
}
.header__contenedor .header__nav .hiden-nav {
  display: block;
  color: white;
  font-size: 5vw;
  cursor: pointer;
  transition: 0.4s;
}
.header__contenedor .header__nav a {
  display: block;
  padding: 10px;
  font-size: 15px;
}
.header__contenedor .header__nav .hide-nav {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
}
.header__contenedor #check {
  display: none;
}
.header__contenedor #check:checked ~ .header__nav {
  right: 0;
}
.header__contenedor .show-nav {
  margin: 0vw 2vw 0 12vw;
}

/* footer */
.footer {
  background-color: rgb(66, 66, 66);
  background-image: linear-gradient(to top, rgb(80, 79, 79), rgb(37, 37, 37));
  margin-top: 0%;
  font-size: small;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-content: end;
  width: 96%;
  padding: 2%;
}
.footer h3 {
  text-align: center;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0%;
  width: 100%;
  text-transform: uppercase;
}
.footer ul li {
  padding: 2%;
}
.footer ul li a {
  outline: none;
  text-decoration: none;
  font-size: 80%;
  color: white;
}
.footer ul li a:hover {
  color: rgb(7, 248, 216);
  background-image: linear-gradient(to right, rgba(10, 173, 194, 0.568) 0% 70%, rgba(37, 37, 37, 0));
  transition: 3s;
}
.footer .footer__form {
  text-align: center;
}
.footer .footer__form form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5%;
}
.footer .footer__form form h3,
.footer .footer__form form h4 {
  text-align: left;
  margin-top: 2%;
}
.footer .footer__form form .footer__form-buton {
  width: 20%;
  background-color: rgb(14, 143, 160);
  color: white;
  margin-top: 2%;
  align-self: end;
}

@media (min-width: 570px) {
  .header__contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(66, 65, 65);
    align-items: center;
    justify-items: start;
    transition: 0;
  }
  .header__contenedor .header__nav {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    position: static;
    width: 100%;
    height: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 5px;
    z-index: 0;
    transition: 0;
    align-items: center;
    justify-self: center;
    margin: 200%;
  }
  .header__contenedor .header__nav ul {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
  }
  .header__contenedor .header__nav ul a {
    display: flex;
    font-size: 1.7vw;
    padding: 0%;
    align-self: center;
    justify-self: center;
    transition: 0s;
  }
  .header__contenedor .show-nav,
  .header__contenedor .hide-nav {
    display: none;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer ul,
  .footer li {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .footer .footer__contacts {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
  }
  .footer .footer__contacts .footer__contacts-redes,
  .footer .footer__contacts .footer__nav {
    padding: 5%;
  }
  .footer .footer__form {
    margin-right: 5%;
  }
  .footer .footer__form form {
    width: 100%;
    margin: 0;
    align-self: auto;
  }
  .footer h3, .footer h4 {
    font-size: 100%;
  }
  .footer a {
    font-size: 70%;
  }
}
/* biografia */
.main__section-biografia-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.main__section-biografia-img img {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  margin-top: 5%;
}

@media (min-width: 570px) {
  /* biografia */
  .main__section {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    transition: 0s;
  }
  .main__section .main__section-biografia-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
  }
  .main__section .main__section-biografia-img img {
    display: flex;
    width: 95%;
    height: 100%;
    justify-self: center;
    margin-top: 5%;
  }
}
@media (min-width: 570px) {
  .main__section {
    display: flex;
    flex-direction: column;
    transition: 0s;
    /* fotos */
  }
  .main__section .main__section-fotos {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-items: top;
    padding: 0;
  }
  .main__section .main__section-fotos .main__section-fotos-f1 {
    display: flex;
    position: relative;
    width: 100%;
    height: 95%;
    margin: 0;
  }
}
/* goles */
.videosCaja {
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
}
.videosCaja iframe {
  width: 100%;
  padding-top: 2%;
}
.videosCaja video {
  width: 100%;
}

/* frases */
.main_section-frases-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.main_section-frases-img img {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}

.main__section-caja-encuesta .main__section-frases-encuesta {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(10, 172, 194);
  margin: 3% 0% 0% 0%;
  width: 100%;
}
.main__section-caja-encuesta .main__section-frases-encuesta span {
  font-size: 0, 7rem;
  font: bold;
}
.main__section-caja-encuesta .main__section-frases-encuesta span,
.main__section-caja-encuesta .main__section-frases-encuesta input {
  padding: 1%;
  color: white;
}
.main__section-caja-encuesta .main__section-frases-encuesta .inputs__frases-encuesta-button {
  padding: 1%;
  margin: 2%;
  width: 20%;
  align-self: center;
  background-color: rgb(37, 37, 37);
}
.main__section-caja-encuesta .main__section-frases-encuesta .section__frases-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__section-caja-encuesta .main__section-frases-encuesta .inputs__group1,
.main__section-caja-encuesta .main__section-frases-encuesta .inputs__group2 {
  display: flex;
  flex-direction: column;
}
.main__section-caja-encuesta .inputs__frases-encuesta-apurate {
  display: flex;
  margin: 3%;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(37, 37, 37);
  border-color: rgb(10, 172, 194);
}

@media (min-width: 570px) {
  /* frases */
  .main_section-frases-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    margin: 2% 0% 2% 0%;
  }
  .main_section-frases-img img {
    display: flex;
    width: 97.5%;
    justify-self: center;
  }
  .main__section-caja-encuesta .inputs__frases-encuesta-button {
    width: 10%;
  }
  .main__section-caja-encuesta .inputs__frases-encuesta-apurate {
    font-size: 2.3rem;
  }
}
@media (min-width: 1000px) {
  .main__section-caja-encuesta {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .main__section-caja-encuesta .inputs__frases-encuesta-button {
    width: 10%;
  }
  .main__section-caja-encuesta .inputs__frases-encuesta-apurate {
    font-size: 2.8rem;
  }
}

/*# sourceMappingURL=css.css.map */
