<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css.css">
    <meta  name="description"
        content=" diego armando maradona biografia, de cebollitas al mundial 86 ">
    <meta name="robots" content="index, follow">
    <title>biografia diego armando maradona</title>
</head>

<body>

    <header class="header__contenedor">
        <img src="../img/DiegoEterno.png" alt="Maradona levantando los brazos de espalda">
        <h1 class="header__h1">
            <div class="diego"> DIEGO ARMANDO </div>
            <div class="maradona"> MARADONA </div>
        </h1>
        <div>
            <input type="checkbox" id="check">
            <label for="check" class="show-nav">
                &#8801
            </label>
            <nav class="header__nav">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="">BIOGRAFIA</a></li>
                    <li><a href="../views/frases.html">FRASES</a></li>
                    <li><a href="../views/fotos.html">FOTOS</a></li>
                    <li><a href="../views/goles.html">GOLES</a></li>
                </ul>
                <label for="check" class="hide-nav">
                    &#215
                </label>
            </nav>
        </div>
    </header>


    <main>
        <section class="main__section">
            <h2 class="main__section-h2">BIOGAFIA</h2>
            
            
                <P class="main__section-p">Fichado por Argentinos Juniors, debutó en la primera división en 1976, diez días antes de cumplir
                    dieciséis años. Siguió jugando en Argentinos Juniors hasta 1980, y si bien su equipo no obtuvo
                    ningún campeonato, Maradona fue el máximo goleador de los torneos argentinos de los años 1978, 1979
                    y 1980. En 1979 formó parte de la selección juvenil que ganó el campeonato del mundo. En 1981 pasó
                    al Boca Juniors (el River Plate también intentó contratarlo), equipo con el que salió campeón ese
                    mismo año.
                    <br>
                    Ya por entonces los clubes del viejo continente eran el destino natural de las grandes promesas del
                    fútbol americano, y Maradona era la más destacada. Contratado en 1982 por el Fútbol Club Barcelona
                    por 1.200 millones de pesetas (7,2 millones de euros, una cifra astronómica en la época), consiguió
                    con los azulgranas la Copa de la Liga, la Copa del Rey (ambas en 1983) y la Supercopa de España
                    (1984), pero una hepatitis y una lesión importante perjudicaron su rendimiento. De nuevo por una
                    cantidad astronómica pasó en 1984 al Nápoles, con el que ganó las ligas de 1987 y 1990, la copa UEFA
                    de 1989 y la Supercopa de Italia de 1991.
                    <br>
                    Durante su etapa italiana contrajo matrimonio con Claudia Villafañe, de la que tendría dos hijas,
                    Dalma y Giannina. Maradona permaneció en el Nápoles hasta 1991, año en que un control antidopaje
                    detectó consumo de cocaína, por lo que fue suspendido durante quince meses. Poco después fue
                    detenido en Buenos Aires en una redada policial. El 28 de abril de 1992 quedó en libertad y tuvo que
                    afrontar una acusación de suministro y tenencia de drogas.
                    <br>
                    Su carrera internacional finalizó tormentosamente en el Sevilla, equipo con el que no llegó a
                    completar la temporada 1992-1993. Cuando regresó a Argentina tras su experiencia europea, actuó en
                    el club rosarino Newell's Old Boys (1993-1994) y, después de cumplir la suspensión impuesta en 1994
                    por la autoridad futbolística internacional (FIFA), volvió a vestir la camiseta de Boca Juniors en
                    1995, en una temporada irregular en cuanto a su rendimiento. En octubre de 1997 anunció su retirada
                    definitiva después de, una vez más, dar positivo en un control antidopaje.
                </P>
                <div class="main__section-biografia-img">
                    <img class="main__section-biografia-f1" src="../img/biografia1.jpg" alt="Maradona niño">
                    <img class="main__section-biografia-f1" src="../img/biogafia2.jpg" alt="maradona levantando copa del mundo">
                </div>
            
        </section>
    </main>
    <footer class="footer">
        <div class="footer__contacts">
            <div class="footer__contacts-redes">
                <h3 class="footer__h3">Contacto</h3>
                <ul class="footer__ul">
                    <li> <a href="">facebook</a></li>

                    <li> <a href="">twiter</a></li>

                    <li> <a href=""> instagram</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <h3>Navegador</h3>
                <ul class="footer__nav">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="./biografia.html">BIOGRAFIA</a></li>
                    <li><a href="./frases.html">FRASES</a></li>
                    <li><a href="./fotos.html">FOTOS</a></li>
                    <li><a href="./goles.html">GOLES</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__form">
            <form action="">
                <h3>Dejanos un mensaje</h3>
                <h4>Nombre</h4>
                <input type="text">
                <h4>Email</h4>
                <input type="email">
                <h4>Mensaje</h4>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input class="footer__form-buton" type="submit" value="enviar">
            </form>
        </div>
    </footer>
</body>

</html>