<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css.css">
    <title>Document</title>
</head>

<body>

    <header class="header__contenedor">
        <img src="../img/DiegoEterno.png" alt="Maradona levantando los brazos de espalda">
        <h1 class="header__h1">
            <div class="diego"> DIEGO ARMANDO </div>
            <div class="maradona"> MARADONA </div>
        </h1>
        <div>
            <input type="checkbox" id="check">
            <label for="check" class="show-nav">
                &#8801
            </label>
            <nav class="header__nav">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../views/biografia.html">BIOGRAFIA</a></li>
                    <li><a href="">FRASES</a></li>
                    <li><a href="../views/fotos.html">FOTOS</a></li>
                    <li><a href="../views/goles.html">GOLES</a></li>
                </ul>
                <label for="check" class="hide-nav">
                    &#215
                </label>
            </nav>
        </div>
    </header>


    <main>
        <section class="main__section">
            <h2 class="main__section-h2">FRASES</h2>
            
                <P class="main__section-p">“Ganarle a River es como que tu mamá te venga a despertar con un beso a la mañana”. Estas fueron las
                    palabras sobre la sensación única de ganar un superclásico.
                    <br>
                    <br>
                    “Sólo les pido que me dejen vivir mi propia vida. Yo nunca quise ser un ejemplo”. Esta frase explica
                    la situación de Maradona, puesto que siempre lo señalaron como si tuviese que ser un ejemplo para la
                    sociedad, cuando él nunca se puso en ese lugar. <br>
                    <br>
                    “Creeme que me cortaron las piernas”. Una de las frases más importantes de su carrera. Esto lo dijo
                    cuando lo sacaron del Mundial de 1994 por su caso de doping, en una entrevista con el periodista
                    Adrián Paenza.<br>
                    <br>
                    “Yo me equivoqué y pagué, pero la pelota no se mancha”. En 2001, en su partido despedida, le habló a
                    la Bombonera y dejó esa genialidad indeleble sobre su vida y el fútbol.<br>
                    <br>
                    “Si voy al banco es para sacar plata, fiera”. Esta fue la respuesta que dio en 1996 cuando le
                    preguntaron si iba a estar en el banco de suplentes.<br>
                    <br>
                    “Más falso que dólar celeste”. Esta frase la utilizó por primera vez en 2005 para referirse a
                    alguien de su entorno.<br>
                    <br>
                    “Si él es Beethoven, yo soy el Ron Wood, Keith Richards y Bono del fútbol, todos juntos. Porque yo
                    era la pasión del fútbol”. Este fue un dardo a Pelé con una metáfora sobre el rock and roll.<br>
                    <br>
                    “¿Cómo hice el gol? Lo hizo la mano de Dios”. Estas fueron sus palabras sobre el gol con la mano a
                    Inglaterra en 1986.<br>
                    <br>
                    “Quedar afuera de un Mundial sólo es comparable a ver cómo le peguen a tu vieja y vos estás atado a
                    una silla”. Fue el comentario que lanzó luego de la derrota con Holanda en cuartos de final del
                    Mundial de 1998.<br>
                    <br>
                    “Esto te da vida, el fútbol te da vida”. Esta frase lo dijo durante una emotiva conversación con
                    Julio Cesar Falcioni después de un partido entre el Tripero y el Taladro.<br>
                </P>
                <div class="main_section-frases-img">
                    <img class="main_section-frases-img-f1" src="../img/frases1.jpeg" alt="Maradona niño">
                    <img class="main_section-frases-img-f1" src="../img/frases2.jpg" alt="maradona levantando copa del mundo">
                </div>
            
        </section>
    </main>
    <footer class="footer">
        <h3 class="footer__h3">Contacto</h3>
        <ul class="footer__ul">
            <li> <a href="">facebook</a></li>
            <div class="linea">|</div>
            <li> <a href="">twiter</a></li>
            <div class="linea">|</div>
            <li> <a href=""> instagram</a></li>
        </ul>
    </footer>
</body>

</html>