 /* frases */

 .main_section-frases-img{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    
    img{
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        
        
    }
}
@media (min-width: 570px) {
    /* frases */
   
       .main_section-frases-img{
           display: grid;
           grid-template-columns: 1fr 1fr;
           align-content: center;
           justify-content: space-between;
           margin:  5% 0% 5% 0%;
           img{
            display: flex;
            width: 97.5%;
            justify-self: center;
            }
       }
       
   }
