 /* frases */

 .main_section-frases-img {
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: space-between;

     img {
         display: flex;
         align-self: center;
         width: 100%;
         justify-content: center;
         margin-top: 3%;


     }
 }
 .main__section-frases-encuesta{
    display: flex;
    flex-direction: column;
    text-align: center ;
    background-color: $secundary-color;
    margin: 3% 0% 0% 0% ;
    
    span{
        font-size: 0,7rem;
        font: bold;
    }
    span,
    input{
        padding: 1%;
        color: $primary-color;
    }
    .inputs__frases-encuesta-button{
        padding: 1%;
        margin: 2%;
        width: 10%;
        align-self: center;
        background-color: $back-color;
    }
 }

 @media (min-width: 570px) {
     /* frases */
    
    .main_section-frases-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-content: space-between;
        margin: 5% 0% 5% 0%;

        img {
            display: flex;
            width: 97.5%;
            justify-self: center;
        }
     }

 }