/* goles */

.videosCaja {
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe {
        width: 100%;
        justify-self: center;
        margin-top: 3%;
    }

    video {
        width: 100%;
        justify-self: center;
        margin-top: 3%;

    }
}

@media (min-width: 1000px) {
    .videosCaja {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        

        iframe {
            width: 70%;
            height: 100%;
            justify-self: end;
            margin: 0;
        }

        .goles__vid1 {
            justify-self: center;
        }

        video {
            width: 85%;
            margin: 0;
            justify-self: start;
        }
    }
}